{%extends 'base.html'%}


{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <h3 class="text-center">Photos taken in {{ location.name }}</h3>
        <br>
        
        {% for image in images %}
        
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="{{ image.image_path.url }}" class="img-responsive" alt="{{ image.image_name }}" data-toggle="modal" data-target="#{{image.id}}">
        </div>

        
        {% endfor %}
    </div>
</div>
{% endblock %}